html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing:inherit;
}

/*----------  ----------*/

body {
    background-image: url(./assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 1200px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
}

#logo {
    height: 20;
    width: 60;
    border: 1px solid black;
}
/* ---------- Start of About Section ---------- */
.about {
    display: flex;
    border: 1px solid black;
}

.news, .special, .location {
    color: rgb(87,87,87);
    background-color: rgb(232,232,232);
    padding: 20px;
}

/* ---------- Start of News Section ---------- */

.news {
    width: 33%;
    border: 1px solid green;
}

.news h2 {
    font-size: 14px;
}

#headline {
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
    color: red;
}

/* ---------- End of News Section ---------- */
/* ---------- Start of Special Section ---------- */

.special {
    width: 34%;
    border: 1px solid green;
}

.special h2 {
    font-size: 14px;
    border-bottom: #000000;
}

#todaysSpecial {
    width: 300px;
    height: 225px;
    box-shadow: 5px 10px #888888;
}

/* ---------- End of Special Section ---------- */
/* ---------- Start of Location Section ---------- */

.location {
    width: 33%;
    border: 1px solid green;
}

.location h2 {
    font-size: 14px;
}

/* ---------- End of Location Section ---------- */

/* ---------- End of About Section ---------- */

/*---------- Start of Bottom ----------*/
.bottom {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.tabs {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 70px;
    background: white;
    align-items: center;
    border-radius: 5px;
    margin: 20px 0;
}

.tabs p {
    font-size: 30px;
}

#story {
    background: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
}

#story p {
    padding: 10px;
}

#menu {
    background: white;
    padding: 15px;
}

#reservations {
    background: white;
    padding: 15px;
}

/*---------- Start of Left ----------*/
.left {
    width: 100%;
}

#story img {
    width: 100%;
    height: 235px;
    object-fit: cover;
    object-position: 0px -450px;
}



#reservations {
    display: flex;
    flex-direction: column;
}

#fullname {
    width: 300px;
    height: 40px;;
}

#guests {
    width: 100px;
    height: 40px;
}

#date {
    width: 200px;
    height: 40px;;
}

#notes {
    width: 325px;
    height: 80px;
}

#seat {
    width: 70px;
    height: 20px;
}

#reservations button {
    width: 100px;
    height: 40px;
}

/*---------- End of Left ----------*/

/*---------- Start of Right ----------*/
.foodpics {
    align-items: center;
    margin: 20px 0;
}

.topfood, .botfood {
    display: flex;
}

.foodpics img {
    width: 33.33%;
    height: 250px;
    object-fit: cover;
}
/*---------- End of Right ----------*/
