html {box-sizing: border-box;}

*, *::before, *::after {
    box-sizing:inherit;
}

#logo {
    height: 20;
    width: 60;
    border: 1px solid black;
}
/* ---------- Start of About Section ---------- */
.about {
    display: flex;
    border: 1px solid black;
}

.news, .special, .location {
    width: 33%;
    color: rgb(87,87,87);
    background-color: rgb(232,232,232);
    padding: 20px;
}

/* ---------- Start of News Section ---------- */

.news {
    border: 1px solid green;
}

.news h2 {
    font-size: 14px;
}

#headline {
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
    color: red;
}

/* ---------- End of News Section ---------- */
/* ---------- Start of Special Section ---------- */

.special {
    border: 1px solid green;
}

.special h2 {
    font-size: 14px;
    border-bottom: #000000;
}

#todaysSpecial {
    width: 300px;
    height: 225px;
    box-shadow: 5px 10px #888888:
}

/* ---------- End of Special Section ---------- */
/* ---------- Start of Location Section ---------- */

.location {
    border: 1px solid green;
}

.location h2 {
    font-size: 14px;
}

/* ---------- End of Location Section ---------- */

/* ---------- End of About Section ---------- */